body {
    color: #bbb;
    font: 14pt/20pt Garamond, Georgia, serif;
    background: #333;
}
#content {
    width: 860px;
    margin: 20% auto auto;
    align: center;
}
input.text {
    border: solid 5px #25587E;
    height: 25px;
    width: 350px;
}
hr {
    width: 270px;
    margin: 15px 0;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
a {
    color: #bbb;
    text-decoration: none;
}
input {
    background-color: #ccc;
    font: 14pt/20pt Garamond, Georgia, serif;
}
input.submit {
    background: none!important;
    border: none; 
    padding: 0!important;
    border-bottom: 0px; 
    color: #bbb;
    cursor: pointer; cursor: hand 
}

.secret {
    backgound-color: red;
    color: orange;
}

.secret_url {
    color: black;
    background-color: #ccc;
}

.copy {
    text-align: right;
    margin-top: 2px;
    margin-right: -96px;
}
