<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Mendix secure secret exchange</title>
        <script type="text/javascript" src="https://my.sprintr.com/feedback/sprintrfeedback.js"></script>
        <script type="text/javascript">
            checkScript(function () {return (typeof window.sprintrFeedback != "undefined" && typeof $ != "undefined" && typeof $.proxy != "undefined");},
                function () {
                     window.sprintrFeedback.create({'sprintrid' : '7b1464ea-17e1-4fec-aea3-8a7ae93d3fda',  allowFile : false, allowSshot : false, userdata : {
                      'username' : 'Anonymous',
                      'emailaddress' : '',
                      'userroles' : '',
                      'formName' : ''
                    }});}, 0);
        </script>
        <link type="text/css" rel="stylesheet" media="all" href="/static/css/style.css"/>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
