{% extends "base.html" %}
{% block content %}
<center>
    <p>Thank you for using our password exchange to store your password.<br/>
      Your password is stored at:
      <div class="secret_url"> 
        {{ url }} 
      </div> 
    </p>
    <p> Please note that you will only be able to retrieve this password once. </p>
</center>
{% endblock %}
