{% extends "base.html" %}
{% block content %}
<center>
    <p>Thank you for using our secret exchange to store your secrets.<br/>
      Your secret is stored at:
      <div class="secret_url"> 
        {{ url }} 
      </div> 
    </p>
    <p> Please note that you will only be able to retrieve this secret once. </p>
</center>
{% endblock %}
