{% extends "base.html" %}
{% block content %}
<center>
    <p>Thank you for using our secret exchange to generate a secure secret.<br/>
      Your secret: 
      <div class="secret"> 
        {{ generated }} 
      </div> 
<p>
      is stored at 
</p>
      <div class="secret_url"> 
        {{ url }} 
      </div> 
    </p>
<p> Please note that you will only be able to retrieve this secret once. </p>
</center>
{% endblock %}
